
/* Regular 400 */
@font-face {
  font-family: Lato;
  src: url("Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Lato;
  font-style: italic;
  src: url("Lato/Lato-Italic.ttf") format("truetype");
}

/* Bold 700 */
@font-face {
  font-family: Lato;
  font-weight: bold;
  src: url("Lato/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Lato;
  font-weight: bold;
  font-style: italic;
  src: url("Lato/Lato-BoldItalic.ttf") format("truetype");
}

/* Light 300 */
@font-face {
  font-family: Lato;
  font-weight:300;
  src: url("Lato/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: Lato;
  font-weight: 300;
  font-style: italic;
  src: url("Lato/Lato-LightItalic.ttf") format("truetype");
}


/* Thin 100 */
@font-face {
  font-family: Lato;
  font-weight: 100;
  src: url("Lato/Lato-Thin.ttf") format("truetype");
}

@font-face {
  font-family: Lato;
  font-weight: 100;
  font-style: italic;
  src: url("Lato/Lato-ThinItalic.ttf") format("truetype");
}

/* Black 900 */
@font-face {
  font-family: Lato;
  font-weight: 900;
  src: url("Lato/Lato-Black.ttf") format("truetype");
}

@font-face {
  font-family: Lato;
  font-weight: 900;
  font-style: italic;
  src: url("Lato/Lato-BlackItalic.ttf") format("truetype");
}
